#contain {
    position: relative;
}

#countdownTimer {}

#editorContainer {
    grid-area: editor;
    position: relative;
}

/* #testCaseCard {
    display: none;
} */

#tailCallFeedback {
    display: none;
}

#mainDiv {
    display: grid;
    grid-template-areas: "editor tests";
    grid-template-columns: 50% auto;
}

#testOutput {
    grid-area: tests;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editor {
    width: 100%;
    height: 100%;
    position: relative;
}

#editorBody>div {
    margin: 0;
}

header {
    margin-left: 1%;
}

#expectedOutput {
    margin-top: 2%;
}

#substantialProcedureList li {
    display: inline-block;
    padding: 0 10px;
}

/* #runCodeBtn{
    margin-top: 1%;
} */

#buttonContainer {
    margin-top: 1%;
    margin-left: 2%;
}

#menuBody>div {
    margin: auto;
    background-color: rgb(208, 239, 252);
}

#selectLabel {
    font-size: 30px;
}

#dataLabel {
    font-size: 30px;
}

#groupSelect {
    margin: auto;
}

#btnRow {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

table {
    display: block;
    margin-left: 25%;
}

textarea {}

.explainP {
    font-size: 24px;
}

#siteTitle {
    font-size: 60px;
}

pre {
    width: 500px;
}

#countdown {
    display: none;
}

.argument {
    color: rgb(0, 90, 207);
    font-style: oblique;
}

#instructionPre{
    width: auto;
    margin: auto;
}

#startButton {
    display: block;
    margin: auto;
}